body {
	margin : 0px;
	padding : 0px;
}
.holder{
	background-color: lightblue;
	padding: 0px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.items{
	width: 60px;
	height : 30px;
	color : darkgreen;
	background-color: pink;
	display : flex;
	align-items : center;
	justify-content : center;
	
	
}














